.TodoSearch {
  font-family: 'Overpass', sans-serif;
  font-size: 110%;
  color: #1b262c;
  text-align: center;  
    
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
    
  box-sizing: border-box;
    
  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}